target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

dist/
build/
bin/
*.msi
*.exe
*.zip
*.rpm
*.deb
*.dmg
*.pkg

.idea/
*.iml
*.iws
*.ipr
out/
cmake-build-*/

.settings/
.classpath
.project
.factorypath

*.db
*.sqlite
*.sqlite3
*.log
.env
.env.local

Thumbs.db
desktop.ini
$RECYCLE.BIN/
.DS_Store
.AppleDouble
.LSOverride

jre/
jdk/

settings_dev.properties